Package: it.dreamcode.cps
Name: Cancella Per Sempre
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Like DeleteForever, but in Italian.
Maintainer: Michele Primavera
Author: Michele Primavera
Section: Tweaks
